#tblProductos {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

#frm-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;

}

#table-productos {
    font-size: 0.75rem;
}

td {
    vertical-align: middle;
}